.top{
  text-align:right;
  padding-top: 5px;
  display: inline;

}

.sidebar {
  float:left;
  width: 10%;
}

p.sidebar {
  text-decoration: underline;
}
 .sidebar img{
   width:100%;
   height:inherit;
   padding-bottom: 30px;

 }

 .sidebar ul {
   list-style-type: none;
   text-align: left;

 }

.headtabsleft {
  margin-top:30px;
  float: left;
}

.headtabsright {
  margin-top: 30px;
  float: right;
}
